[phases.setup]
nixPkgs = ["dotnet-sdk_7"]

[phases.install]
cmds = ["dotnet restore"]

[phases.build]
cmds = ["dotnet publish --no-restore -c Release -o out"]

[start]
cmd = "dotnet out/MaquillajeApi.dll"